:root {
    --mainColor: #15202B;
    --secondaryColor: #19227334;
  
    --borderColor: #164D56;
  
    --mainText: #fff;
    --secondarytext: #eeeeee;
  
    --themeDotBorder: #fff;
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;
  
    --buttonColor:#17a2b8;
  }